.outputbox{
    height:400px;
    width:100%;
}
#input{
    width:100%;
}
#command{
    display:inline-block;
    width:70%;
    margin:0;
    padding:0;
}
#confirm{
    display: inline-block;
    width:9%;
    margin:0;
    padding:0;
    color:white;
    background-color: #777777;
}
#confirm:hover{
    background-color: #555555;
}
#confirm:active{
    background-color: #333333;
}
#prefix{
    display: inline-block;
    width:20%;
    margin:0;
    padding:0;
    color:white;
    background-color: #777777;
}
*{
    background-color: #333333;
    font-family: 'Courier New', Courier, monospace;
    color:#CCCCCC;
}